body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-color: #333C87;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nombre {
    color: white;
    font-weight: 700;
    font-size: larger;
}